.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg{
    position: absolute;
    width: 1059px;
    height: 362px;
    background-color: var( --color-green-mid);
    border-radius: 30px;
    bottom: 20%;
}

.laptop_img{
    position: relative;
}